.quality {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding-bottom: 90px;
}

.quality h2 {
    width: 97%;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 50px;
    font-size: 48px;
    font-weight: 600;
}

.quality-content {
    width: 97%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding-left: 150px;
    box-sizing: border-box;
}

.quality-step {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.quality-step img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
}

.quality-step p:first-of-type {
    font-size: 32px;
    font-weight: 700;
    padding: 0 20px;
    margin-bottom: 10px;
}

.quality-step p:last-of-type {
    font-size: 20px;
    padding: 0 20px 20px;
}

.quality-steps {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quality-steps1 {
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    padding: 30px;
    gap: 40px;
}

.quality-steps2 {
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    padding: 30px;
    gap: 40px;
    position: relative;
    overflow: hidden;
}

.quality-steps2 p{
    position: relative;
    z-index: 1;
}

.step-text{
    max-width: 50%;
    font-size: 20px;
}

.step-title{
    font-size: 32px;
    font-weight: 800;
}


.quality-steps2 img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 65%;
    object-fit: contain;
    z-index: 0;
}
