.about{
    background-color: #1E1E1E;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    position: relative;
}

.about h2{
    width: 95%;
    margin: 0 auto;
}

.about-side{
    display: flex;
    align-items: stretch;
}

.left-side{
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../../assets/star.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-left: 2.5%;
    padding-bottom: 90px;
    box-sizing: border-box;
}

.right-side{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url('../../assets/man.png');
    background-size: cover;
    background-position: center;
}


.about h2{
    color: white;
    padding-top: 90px;
    margin-top: 0;
    padding-bottom: 50px;
    font-size: 48px;
}

.reviews{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews-card{
    display: flex;
    gap: 20px;
    background-color: #1E1E1E;
    border: 1px solid white;
    padding: 20px;
    color: white;
}

.reviews-card:nth-child(even){
    background-color: rgba(30, 30, 30, 0.5);
}