.header-wrapper{
    border-bottom: 1px solid black;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 97%;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: 1px solid black;
    padding: 10px 20px;
}

.company{
    font-weight: 800;
    font-size: 48px;
    margin: 0;
}

.subtitle{
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.logo img{
    height: 70px;
}

.menu{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

nav{
    display: flex;
    gap: 30px;
    font-size: 25px;
}

nav a{
    text-decoration: none;
    color: #1E1E1E;
    transition: all 0.3s;
}

nav a:hover{
    transform: scale(1.05);
}

.contact{
    display: flex;
    align-items: stretch;
}

.city{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 10px 20px;
}

.town{
    font-size: 24px;
    font-weight: 500;
}

.address .tel2{
    font-size: 13px;
    font-weight: 200;
}

.phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}

.tel1{
    font-size: 20px;
    font-weight: 500;
}

.town, .address, .tel1, .tel2{
    margin: 0;
}
