.works-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-bottom: 90px;
}

.works h2{
    font-size: 48px;
    font-weight: 600;
}

.works-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.work-name {
    font-size: 14px;
    font-weight: 600;
}

.works-card{
    background-color: black;
    color: white;
    padding: 30px;
}

.works-card p{
    font-size: 33px;
    margin-bottom: 0px;
}