.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 30px;
}

.footer-contacts{
    display: flex;
    gap: 30px;
}

.footer .logo{
    border: none;
}

.footer .menu{
    border: none;
}